Repository jusgad/icosistem: changes, and which pre-commit hooks are due for each by the changed paths.
All: flask-security-check, check-flask-imports, check-migrations, check-env-vars, check-requirements-sync, check-test-coverage

Path conditions:
  flask-security-check: any of: ^app/.*\.py$
  check-flask-imports: any of: ^app/.*\.py$
  check-migrations: any of: ^migrations/versions/.*\.py$
  check-env-vars: any of: ^(app/.*\.py|\.env\.example)$
  check-requirements-sync: any of: ^requirements.*\.txt$
  check-test-coverage: any of: ^app/.*\.py$

Falta documentacion y test
  Dockerfile
  celery_worker.py
  docker-compose.yml
  instance/config.py
Due: none

Aun falta mas documentacion y los test
  README.md
  docs/API.md
  docs/CHANGELOG.md
  docs/DEPLOYMENT.md
  docs/INSTALATION.md
  docs/README.md
  docs/architecture/database.md
  docs/architecture/integrations.md
  docs/architecture/overview.md
Due: none

lol
  docs/architecture/integrations.md
  docs/architecture/overview.md
Due: none

probando
  requirements.txt
Due: check-requirements-sync

Trabajando en la resolucion del programa
  SETUP.md
  app/__init__.py
  app/__pycache__/__init__.cpython-312.pyc
  app/api/v1/__init__.py
  app/commands.py
  app/core/constants.py
  app/core/context_processors.py
  app/core/security.py
  app/extensions_simple.py
  app/models/__init__.py
  app/models/user.py
  app/sockets/__init__.py
  app/tasks/__init__.py
  app/utils/formatters.py
  app/utils/health.py
  app/utils/logging.py
  app/utils/monitoring.py
  app/views/admin/__init__.py
  app/views/ally/__init__.py
  app/views/client/__init__.py
  app/views/entrepreneur/__init__.py
  docs/ANALISIS_COMPLETO.md
  pytest.ini
  requirements-optimized.txt
  requirements-test.txt
  tests/conftest.py
  tests/functional/test_workflows.py
  tests/integration/test_api.py
  tests/unit/test_models.py
  tests/unit/test_utils.py
Due: flask-security-check, check-flask-imports, check-env-vars, check-requirements-sync, check-test-coverage

Solo faltan pruebas
  README.md
  app/api/modern/__init__.py
  app/api/modern/auth.py
  app/api/modern/health.py
  app/api/modern/v2.py
  app/extensions_modern.py
  app/schemas/__init__.py
  app/schemas/auth.py
  app/schemas/common.py
  app/schemas/user.py
  app/services/modern_base.py
  docs/API_REFERENCE.md
  docs/DEVELOPER_GUIDE.md
  docs/MODERN_ARCHITECTURE.md
  pyproject.toml
  requirements-optimized.txt
  requirements.txt
  tests/modern/conftest.py
  tests/modern/test_auth_api.py
Due: flask-security-check, check-flask-imports, check-env-vars, check-requirements-sync, check-test-coverage

Cambios realizados necesito pruebas
  README.md
  app/api/modern/v2.py
  app/schemas/auth.py
  app/services/modern_base.py
  docs/API_REFERENCE.md
  docs/DEVELOPER_GUIDE.md
Due: flask-security-check, check-flask-imports, check-env-vars, check-test-coverage

Revisen el codigo pero hasta donde veo esta bien
  .babelrc
  .env.example
  .github/codeql/codeql-config.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .gitignore
  .hadolint.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  .yamllint.yaml
  README.md
  bandit.yaml
  docker/Dockerfile.prod
  docs/api.md
  docs/desarrollo.md
  docs/despliegue.md
  docs/instalacion.md
  package.json
  pytest.ini
  requirements-dev.txt
  requirements.txt
  webpack.config.js
Due: check-env-vars, check-requirements-sync

arreglo
  requirements.txt
Due: check-requirements-sync

arreglos
  =41.0.8
  app/__init__.py
  app/__pycache__/__init__.cpython-312.pyc
  app/config.py
  app/core/__init__.py
  app/core/constants.py
  app/core/permissions.py
  app/core/security.py
  app/extensions.py
  app/models/__init__.py
  app/models/activity_log.py
  app/models/admin.py
  app/models/ally.py
  app/models/entrepreneur.py
  app/models/mixins.py
  app/models/organization.py
  app/models/project.py
  app/models/user.py
  app/utils/__init__.py
  app/utils/cache_utils.py
  app/utils/decorators.py
  app/utils/formatters.py
  app/utils/string_utils.py
  app/views/__init__.py
  app/views/admin/dashboard.py
  app/views/auth.py
  app/views/errors.py
  app/views/main.py
  app_simple.py
  flask_session/2029240f6d1128be89ddc32729463129
  requirements-core.txt
  requirements.txt
  run.py
  test_dependencies.py
Due: flask-security-check, check-flask-imports, check-env-vars, check-requirements-sync, check-test-coverage

arreglo de seguridad
  .env.keys.secure
  .env.production.template
  SECURITY_CHECKLIST.md
  app/core/constants.py
  app/models/program.py
  app/utils/crypto_utils.py
  app/utils/date_utils.py
  app/utils/decorators.py
  app/utils/file_utils.py
  app/utils/formatters.py
  comprehensive_patch.py
  demo_complete.py
  docker-compose.yml
  final_emergency_patch.py
  init_database.py
  logging_config.json
  missing_functions_patch.py
  quick_patch.py
  run_minimal.py
  security_headers.json
  security_report.json
  security_setup.py
  simple_init.py
  ssl_config.json
  test_system.py
Due: flask-security-check, check-flask-imports, check-env-vars, check-test-coverage

se realizo cambios ahora tengo q meter todo en carpetas
  app/models/dashboard_service.py
  app/models/project.py
  app/templates/client/impact.html
  app/templates/index.html
  app/templates/layouts/public.html
  app/views/admin/entrepreneurs.py
  app/views/auth.py
  app/views/errors.py
Due: flask-security-check, check-flask-imports, check-env-vars, check-test-coverage
